:root {
  background-color: rgb(144, 150, 155);
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  color: black;
}
