.button.is-primary {
  background-color: #181b1b;
  justify-content: space-between;
}

.foot {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

h1 {
  font-family: cursive;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
